/* General
 */
html {
    //overflow-y: overlay;
    font-family: sans-serif;
}

a {
    color: #007bff;
    text-decoration: none;
    //animation-duration: 0.5s;
    transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;

    &:hover {
        color: #0056b3;
    }
}

.container {
    height: 1000px;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 20vh 20vh 30vh auto;
    grid-template-areas:
      ". . ."
      ". header ."
      ". . ."
      ". main .";
}


header {
    grid-area: header;
    color: orange;
    text-align: center;
    background: rgba(255,255,255,0.3);
    max-width: 300px;
    justify-self: center;
    border-radius: 10px;
    a {
        color: orange;
        &:hover {
           color: red;
        }
    }
}

main {
    grid-area: main;
    max-width: 80vw;
    justify-self: center;
}

@media screen and (max-width: 500px) {
    #root .container {
        grid-template-columns: 10px auto 10px;
    }

    main {
        max-width: 85vw;
    }
}

@media screen and (min-width: 960px) {
    main {
        max-width: 800px;
    }
}

/* Animated Three.js header for every page
 */
#headerCanvas {
    position:absolute;
    top: 0;
    z-index: -1;
}

/* Post styling
 */
main p {
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 40px;
}

.post-body > img {
  position: relative;
  left: -5%;
  width: 110%;
  margin-bottom: 20px;
}

.canvasInPost {
    margin: 40px 0;
    text-align: center;
}

pre {
  background-color: #d3eff8;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
}

p code {
  background-color: #d3eff8;
  padding: 3px;
}

pre code {
  line-height: 24px;
}

pre .token.operator {
  background-color: #d3eff8;
}
